fastapi==0.110.2
uvicorn==0.29.0
python-multipart==0.0.9
PyPDF2==3.0.1
python-docx==1.1.0
langchain
sentence-transformers==2.7.0
faiss-cpu==1.8.0
langchain-google-genai
python-dotenv==1.0.1
langdetect==1.0.9
sentence-transformers==2.7.0
langchain-groq
langchain-openai
langchain_community
pymilvus==2.2.8